@import "https://fonts.googleapis.com/css?family=Shadows Into Light:300,400,500,600,700";

.logo {
    text-align: left;
    margin-block: 3px;
}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.6)), color-stop(98%, rgba(0, 0, 0, 0.6))), url("https://uploads-ssl.webflow.com/62b89a760ac0e96394730919/62b89c634d120689b2392c39_background.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0.6) 98%), url("https://uploads-ssl.webflow.com/62b89a760ac0e96394730919/62b89c634d120689b2392c39_background.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    font-weight: 300;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

h1 {
    font-family: 'Shadows Into Light';
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 67px;
    line-height: 44px;
    font-weight: 500;
    font-size: larger;
    padding: 0px 60px;
    color: #fff
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 300;
}

.nav-menu {
    text-align: center;
    color: white;
    padding: 12px;
    align-items: center;
}

.nav-menu .material-icons{
    margin-right: 12px;
    vertical-align: middle;
}

.nav-link {
    padding: 26px 13px;
    color: hsla(0, 0%, 100%, 0.62);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #fff;
}

.nav-link.w--current {
    color: #fff;
    text-decoration: none;
}

.nav-link.logo {
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.nav-bar {
    background-color: transparent;
    position: fixed;
}

.hero-content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    color: #fff;
    text-align: center;
}

.hero-heading {
    margin-top: 0px;
    color: #fff;
    font-size: 80px;
    line-height: 85px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Shadows Into Light';
}

.hero-subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Shadows Into Light';
}

@media screen and (max-width: 991px) {
    .nav-menu {
        padding-top: 18px;
        padding-bottom: 18px;
        border-top: 1px solid #000;
        background-color: rgba(0, 0, 0, 0.85);
    }

    .nav-link {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }

    .menu-button {
        padding: 20px 0px 20px 20px;
        color: hsla(0, 0%, 100%, 0.62);
        font-size: 25px;
        line-height: 22px;
    }

    .menu-button:hover {
        color: #fff;
    }

    .menu-button.w--open {
        background-color: transparent;
        color: #fff;
    }

    .menu-text {
        margin-right: 3px;
        padding: 2px;
        float: left;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .menu-text:hover {
        color: #fff;
    }

    .menu-icon {
        float: left;
    }
  
.input {
  margin-bottom: 20px;
  border-style: none;
  background-color: hsla(0, 0%, 40%, 0.64);
  color: #fff;
}

.input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.77);
}

.input.textarea {
  min-height: 110px;
}

.success {
  padding-top: 29px;
  background-color: rgba(30, 187, 0, 0.35);
}

@media screen and (max-width: 991px) {
  .nav-menu {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
  }

  .menu-button {
    padding: 20px 0px 20px 20px;
    color: hsla(0, 0%, 100%, 0.62);
    font-size: 25px;
    line-height: 22px;
  }

  .menu-button:hover {
    color: #fff;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #fff;
  }

  .menu-text {
    margin-right: 3px;
    padding: 2px;
    float: left;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu-text:hover {
    color: #fff;
  }

  .menu-icon {
    float: left;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading {
    font-size: 61px;
  }

  .footer {
    padding-right: 14px;
    padding-left: 14px;
  }

  .rsvp-button {
    margin-top: 15px;
  }

  .tour-date-row {
    text-align: center;
  }

  .contact-link {
    margin-bottom: 30px;
  }

  .submit-button.sign-up {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .input-inline {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .menu-button {
    margin-right: 7px;
  }

  .album-list {
    margin-bottom: 60px;
  }

  .venue {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .venue-list-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 479px) {
  .hero-heading {
    font-size: 39px;
    line-height: 52px;
  }

  .contact-row {
    padding-bottom: 16px;
  }

  .hero-container {
    padding-right: 13px;
    padding-left: 13px;
  }

  .button.big {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #080050 9.16%, #080050 43.89%, #080050 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 20px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
  {
  font-size: 45.5px;
}
input {

  width: 52.5%;
  padding: 20px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px black;
  border-radius: 10px;
  background-color: #000000;
    transition: 0.5s;
}
input[type=text] {
  transition: 0.5s;
  color: white; 
  

}
.button-41 {
  background-image: linear-gradient(92.88deg, #080050 9.16%, #080050 43.89%, #080050 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 20px;
  margin-top: 10px;
}

.button-41:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-41 {
    padding: 0 2.6rem;
  }
  {
  font-size: 45.5px;
}
input {

  width: 52.5%;
  padding: 20px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px black;
  border-radius: 10px;
  background-color: #000000;
    transition: 0.5s;
}
input[type=text] {
  transition: 0.5s;
  color: white; 
  

}

}
}
