@import "https://fonts.googleapis.com/css?family=Shadows Into Light:300,400,500,600,700";

.logo {
    text-align: left;
    margin-block: 3px;
}


a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}


body {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%, rgba(0, 0, 0, 0.6)), color-stop(98%, rgba(0, 0, 0, 0.6))), url("https://uploads-ssl.webflow.com/62b89a760ac0e96394730919/62b89c634d120689b2392c39_background.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0.6) 98%), url("https://uploads-ssl.webflow.com/62b89a760ac0e96394730919/62b89c634d120689b2392c39_background.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    font-weight: 300;
}

h1 {
    font-family: 'Shadows Into Light';
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 67px;
    line-height: 44px;
    font-weight: 500;
    font-size: larger;
    padding: 0px 60px;
    color: #fff
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 300;
}

.nav-menu {
    text-align: center;
    color: white;
    padding: 12px;
    align-items: center;
}

.nav-menu .material-icons {
    margin-right: 12px;
    vertical-align: middle;
}

.nav-link {
    padding: 26px 13px;
    color: hsla(0, 0%, 100%, 0.62);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #fff;
}

.nav-link.w--current {
    color: #fff;
    text-decoration: none;
}

.nav-link.logo {
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.nav-bar {
    background-color: transparent;
    position: fixed;
}

.hero-container {
    padding-top: 105px;
}

.hero-content {
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    color: #fff;
    text-align: center;
}

.hero-heading {
    margin-top: 0px;
    color: #fff;
    font-size: 80px;
    line-height: 85px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Shadows Into Light';
}

.hero-subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Shadows Into Light';
}


input {
    width: 52.5%;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px black;
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


input[type=text] {
    transition: 0.5s;
    color: white;


}

.button {
    width: 20%;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px black;
    border-radius: 10px;
    background-color: #000000;
    transition: 0.5s;
    text-align: center;
    font-size: 15px;
    color: white;
    opacity: 1;
    cursor: pointer;
    font-family: 'Shadows Into Light';
}


.header {
    display: flex;
    /* vertically align the content in the header */
    align-items: center;
    /* set a fixed height */
    height: 40px;
    margin-left: 15px;
    padding: 0px 60px;
    margin-bottom: 30px;
}

footer {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
 position: fixed ;
 left: 0px;
 bottom: 0px;

}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin-left: auto;
    margin-right: 90px;
}

span {
    color: #ffffff
}


::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #080080;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 4px;
}
